<div class="container">
	<div id="form" class="row">

		<form class="col-sm-11">

			<div id="teams-list" class="row">

				<div class="col-sm-6"  style="padding-left:0">
					<h4>Currently grading:</h4>

					<select id="team-select" class="form-control" ng-model="selectedTeam" ng-options="team.name as team.name for team in teams">
						<option ng-show="loadingTeams" disabled selected>Loading...</option>
						<option ng-hide="loadingTeams" disabled selected value="">Pick a team</option>
						<!-- <option ng-hide="loadingTeams" ng-repeat="team in teams" ng-value="{{team.name}}">{{team.name}}</option> -->
					</select>
				</div>
				<div class="col-sm-6">
					<h4 id="grader-name-label">Graded by:</h4>
					<input required class="form-control" id="grader-name-input"></input>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Problem/Need has evolved into a compelling value proposition.</h3>
						</div>
						<div class="panel-body">
					   		<fieldset>
								<div id="q1slider" class="ratingslider"></div>
						   		<div class="input-textarea">
						   			<label for="q1textarea">Comments</label>
						   			<textarea class="form-control" id="q1textarea" rows="1"></textarea>
						   		</div>
					   		</fieldset>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Demo provided a good "feel" for the app.</h3>
						</div>
						<div class="panel-body">
					   		<fieldset>
					   			<div id="q2slider" class="ratingslider"></div>
						   		<div class="input-textarea">
						   			<label for="q2textarea">Comments</label>
						   			<textarea class="form-control" id="q2textarea" rows="1"></textarea>
						   		</div>
					   		</fieldset>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Team demonstrated enough customer insight to show that next steps on customer acquisition/building a user base were clear.</h3>
						</div>
						<div class="panel-body">
					   		<fieldset>
					   			<div id="q3slider" class="ratingslider"></div>
						   		<div class="input-textarea">
						   			<label for="q3textarea">Comments</label>
						   			<textarea class="form-control" id="q3textarea" rows="1"></textarea>
						   		</div>
					   		</fieldset>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Business model, financial model and/or ask made sense.</h3>
						</div>
						<div class="panel-body">
					   		<fieldset>
					   			<div id="q4slider" class="ratingslider"></div>
						   		<div class="input-textarea">
						   			<label for="q4textarea">Comments</label>
						   			<textarea class="form-control" id="q4textarea" rows="1"></textarea>
						   		</div>
					   		</fieldset>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Do you think the team should continue working on the app?</h3>
						</div>
						<div class="panel-body">
					   		<fieldset>
					   			<label class="radio-inline">
					   				<input name="q5radio" type="radio" value="1">
					   				Yes
					   			</label>
					   			<label class="radio-inline">
					   				<input name="q5radio" type="radio"  value="0">
					   				No
					   			</label>
						   		<div class="input-textarea">
						   			<label for="q5textarea">Why?</label>
						   			<textarea class="form-control" id="q5textarea" rows="1"></textarea>
						   		</div>
					   		</fieldset>
					   	</div>
				    </div>
				</div>
			</div>

			<div class="row">
			    <div class="col-sm-11 col-xs-10">
					<div class="panel panel-danger" id="slide-text1">
						<div class="panel-heading">Please select a team to grade.</div>
					</div>
					<div class="panel panel-danger" id="slide-text2">
						<div class="panel-heading">Ratings must be positive values and Radio Buttons must be selected.</div>
					</div>
			    </div>
			    <div class="col-xs-1 col-sm-offset-0 col-xs-offset-1">
				  	<button type="submit" id="submit-btn" class="btn btn-primary btn-submit form_submit" ng-click="onSubmit()">Submit</button>
			    </div>
			</div>
		</form>
	</div>
</div>
