form {
  margin-bottom: 40px;
}

.panel-title {
  font-weight: bold;
}

.radio-inline {
  margin-right: 20px;
}

.input-textarea {
  margin-top: 20px;
}

.btn-submit {
  padding: 10px;
  float: right;
}

#teams-list {
  margin-bottom: 20px;
  margin-top: 30px;
  padding-left: 15px;
}

#teams-list h4{
	float: left;
}

#team-select{
    float: left;
    width: 30%;
    margin-left: 20px;
}

#grader-name-label {
  width: 29%;
}

#grader-name-input {
    float: left;
    width: 70%;
    margin-left: 1%;
}

#slide-text{
  display: none;
  font-weight: bold;
}

.dropdown {
  display: inline;
}

.name {
  font-weight: bold;
}
.product {
  text-indent: 10px;
  font-style: italic;
}