<div class="container-fluid">
<div class="row">
	<div class="col-sm-12">
		<div id="form" class="row">
			<form class="col-sm-12">
				<div id="teams-list" class="row">

					<div class="col-sm-6">
						<h4>Currently grading:</h4>

						<select id="team-select" class="form-control" ng-model="selectedTeam" ng-options="team.name as team.name for team in teams">
							<option ng-show="loadingTeams" disabled selected>Loading...</option>
							<option ng-hide="loadingTeams" disabled selected value="">Pick a team</option>
							<!-- <option ng-hide="loadingTeams" ng-repeat="team in teams" ng-value="{{team.name}}">{{team.name}}</option> -->
						</select>
					</div>
					<div class="col-sm-6"> 
						(1 = strongly disagree, 7 = strongly agree)
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<h3><b>Trade Show/Demo</b></h3>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Concise (less than 3 minutes) and informative interactive demo provided that linked value proposition to targeted customer.</h3>
							</div>
							<div class="panel-body">
						   		<fieldset>
									<div id="q1slider" class="ratingslider"></div>
										<div class="input-textarea">
											<button class="btn btn-primary btn_comments(1) btn_cmt" ng-click="showComment(1)">{{toggleText[1]}}</button>
										</div>
							   		<div class="input-textarea" ng-show="checkComment(1)">
							   			<label for="q1textarea">Comments</label>
							   			<textarea class="form-control" id="q1textarea" rows="1"></textarea>
							   		</div>
						   		</fieldset>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Questions answered concisely and accurately and feedback listened to.</h3>
							</div>
							<div class="panel-body">
						   		<fieldset>
						   			<div id="q2slider" class="ratingslider"></div>
										<div class="input-textarea">
											<button class="btn btn-primary btn_comments(2) btn_cmt" ng-click="showComment(2)">{{toggleText[2]}}</button>
										</div>
							   		<div class="input-textarea" ng-show="checkComment(2)">
							   			<label for="q2textarea">Comments</label>
							   			<textarea class="form-control" id="q2textarea" rows="1"></textarea>
							   		</div>
						   		</fieldset>
							</div>
						</div>
						<h3><b>Pitch</b></h3>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Team has Product Market Fit.</h3>
							</div>
							<div class="panel-body">
						   		<fieldset>
						   			<div id="q3slider" class="ratingslider"></div>
										<div class="input-textarea">
											<button class="btn btn-primary btn_comments(3) btn_cmt" ng-click="showComment(3)">{{toggleText[3]}}</button>
										</div>
							   		<div class="input-textarea" ng-show="checkComment(3)">
							   			<label for="q3textarea">Comments</label>
							   			<textarea class="form-control" id="q3textarea" rows="1"></textarea>
							   		</div>
						   		</fieldset>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">The team has a good understanding of their target users and customers who would buy/use their solution.</h3>
							</div>
							<div class="panel-body">
						   		<fieldset>
						   			<div id="q4slider" class="ratingslider"></div>
										<div class="input-textarea">
											<button class="btn btn-primary btn_comments(4) btn_cmt" ng-click="showComment(4)">{{toggleText[4]}}</button>
										</div>
							   		<div class="input-textarea" ng-show="checkComment(4)">
							   			<label for="q4textarea">Comments</label>
							   			<textarea class="form-control" id="q4textarea" rows="1"></textarea>
							   		</div>
						   		</fieldset>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Solid customer acquisition and market traction results.</h3>
							</div>
							<div class="panel-body">
						   		<fieldset>
						   			<div id="q5slider" class="ratingslider"></div>
										<div class="input-textarea">
											<button class="btn btn-primary btn_comments(5) btn_cmt" ng-click="showComment(5)">{{toggleText[5]}}</button>
										</div>
							   		<div class="input-textarea" ng-show="checkComment(5)">
							   			<label for="q5textarea">Comments</label>
							   			<textarea class="form-control" id="q5textarea" rows="1"></textarea>
							   		</div>
						   		</fieldset>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Financial model and pricing are viable.</h3>
							</div>
							<div class="panel-body">
						   		<fieldset>
						   			<div id="q6slider" class="ratingslider"></div>
										<div class="input-textarea">
											<button class="btn btn-primary btn_comments(6) btn_cmt" ng-click="showComment(6)">{{toggleText[6]}}</button>
										</div>
							   		<div class="input-textarea" ng-show="checkComment(6)">
							   			<label for="q6textarea">Comments</label>
							   			<textarea class="form-control" id="q6textarea" rows="1"></textarea>
							   		</div>
						   		</fieldset>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">The overall pitch was <u>compelling</u> and left you wanting to learn more.</h3>
							</div>
							<div class="panel-body">
						   		<fieldset>
						   			<div id="q7slider" class="ratingslider"></div>
										<div class="input-textarea">
											<button class="btn btn-primary btn_comments(7) btn_cmt" ng-click="showComment(7)">{{toggleText[7]}}</button>
										</div>
							   		<div class="input-textarea" ng-show="checkComment(7)">
							   			<label for="q7textarea">Comments</label>
							   			<textarea class="form-control" id="q7textarea" rows="1"></textarea>
							   		</div>
						   		</fieldset>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Do you think the team should continue working on the app?</h3>
							</div>
							<div class="panel-body">
						   		<fieldset>
						   			<label class="radio-inline">
						   				<input name="q8radio" type="radio" value="1">
						   				Yes
						   			</label>
						   			<label class="radio-inline">
						   				<input name="q8radio" type="radio"  value="0">
						   				No
						   			</label>
										<div class="input-textarea">
											<button class="btn btn-primary btn_comments(8) btn_cmt" ng-click="showComment(8)">{{toggleText[8]}}</button>
										</div>
							   		<div class="input-textarea" ng-show="checkComment(8)">
							   			<label for="q8textarea">Words of advice you would like to provide the team as they move forward?</label>
							   			<textarea class="form-control" id="q8textarea" rows="1"></textarea>
							   		</div>
						   		</fieldset>
						   	</div>
					    </div>
					</div>
				</div>

				<div class="row">
				    <div class="col-sm-11 col-xs-10">
						<div class="panel panel-danger" id="slide-text1">
							<div class="panel-heading">Please select a team to grade.</div>
						</div>
						<div class="panel panel-danger" id="slide-text2">
							<div class="panel-heading">Ratings must be positive values and Radio Buttons must be selected.</div>
						</div>
				    </div>
				    <div class="col-xs-1 col-sm-offset-0 col-xs-offset-1">
					  	<button type="submit" id="submit-btn" class="btn btn-primary btn-submit form_submit" ng-click="onSubmit()">Submit</button>
				    </div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
