<body>
<div class="container" ng-style='view2.css'>
	<div class="row">
		<div class="col-sm-10">
			<h3 style="padding-left:8px">Judge Reviews for {{teamName}}</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-10">
			<table class="table">
				<thead>
					<tr class="row">
            			<th class="col-xs-2 metric">Judge</th>
						<th class="col-xs-2 metric">Problem/Need</th>
						<th class="col-xs-2 metric">Demo</th>
						<th class="col-xs-2 metric">Cust. Insight</th>
						<th class="col-xs-2 metric">Business</th>
						<th class="col-xs-2 metric">Continue Working</th>
					</tr>
				</thead>
				<tbody>
					<tr class="row table_row" ng-repeat="review in reviews">
            			<td class="col-xs-2 value"><b>{{review.user}}</b></td>
						<td class="col-xs-2 value">{{review.q1}}</td>
						<td class="col-xs-2 value">{{review.q2}}</td>
						<td class="col-xs-2 value">{{review.q3}}</td>
						<td class="col-xs-2 value">{{review.q4}}</td>
						<td class="col-xs-2 value">{{review.continue}}</td>
					</tr>
				</tbody>

				<tbody>
          <tr class="row table_row"></tr>
          <tr class="row table_row"></tr>
					<tr class="row table_row">
						<td class="col-xs-2 name">Average</td>
						<td class="col-xs-2">{{avg.q1}}</td>
						<td class="col-xs-2">{{avg.q2}}</td>
						<td class="col-xs-2">{{avg.q3}}</td>
						<td class="col-xs-2">{{avg.q4}}</td>
						<td class="col-xs-2"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
    <div class="col-sm-12">

    	<div class="col-sm-10">
			<h3 >Comments</h3>
		</div>
    	<table>
	      <thead>
	      	<tr class="row table_head" style="border-bottom: 3px solid #ddd;">
    			<th class="col-xs-2 metric">Judge</th>
				<th class="col-xs-2 metric">Problem/Need</th>
				<th class="col-xs-2 metric">Demo</th>
				<th class="col-xs-2 metric">Cust. Insight</th>
				<th class="col-xs-2 metric">Business</th>
				<th class="col-xs-2 metric">Continue Working</th>
			</tr>
	      	
	      </thead>
	      <tbody>
				<tr ng-repeat="review in reviews" class="comments row" style="border-top: 1px solid #ddd;">
					<td class ="col-xs-2 cmt_judge" ><b>{{review.user}}</b></td>
	    			<td class="col-xs-2 sum_cmt"><span ng-if="check(review.cmt1)">{{review.cmt1}}</span></td>
	    			<td class="col-xs-2 sum_cmt"><span ng-if="check(review.cmt1)">{{review.cmt2}}</span></td>
	    			<td class="col-xs-2 sum_cmt"><span ng-if="check(review.cmt1)">{{review.cmt3}}</span></td>
	    			<td class="col-xs-2 sum_cmt"><span ng-if="check(review.cmt1)">{{review.cmt4}}</span></td>
	    			<td class="col-xs-2 sum_cmt"><span ng-if="check(review.cmt1)">{{review.cmt5}}</span></td>	
				</tr>
		  </tbody>
	      
      </table>
    </div>
  </div>

</div>
</body>
