<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10">
			<h2>Judge Reviews for {{teamName}}</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<table class="table">
				<thead>
					<tr class="row table_head">
            			<th class="table-teamname metric">Judge</th>
						<th class="table-qval metric">Q1</th>
						<th class="table-qval metric">Q2</th>
						<th class="table-qval metric">Q3</th>
						<th class="table-qval metric">Q4</th>
						<th class="table-qval metric">Q5</th>
						<th class="table-qval metric">Q6</th>
						<th class="table-qval metric">Q7</th>
						<th class="table-qval metric">Continue?</th>
						<th class="table-qval metric">Overall</th>						
					</tr>
				</thead>
				<tbody>
					<tr class="row table_row" ng-repeat="review in reviews">
            			<td class="table-teamname">{{review.user}}</td>
						<td class="table-qval value">{{review.q1}}</td>
						<td class="table-qval value">{{review.q2}}</td>
						<td class="table-qval value">{{review.q3}}</td>
						<td class="table-qval value">{{review.q4}}</td>
						<td class="table-qval value">{{review.q5}}</td>
						<td class="table-qval value">{{review.q6}}</td>
						<td class="table-qval value">{{review.q7}}</td>
						<td class="table-qval value">{{review.cont}}</td>
						<td class="table-qval value">{{review.ovr}}</td>
					</tr>
				</tbody>
				<tbody>
					<tr class="row table_row">
            			<td class="table-teamname"><b>{{teamName}} Average</b></td>
						<td class="table-qval value">{{teamAvg.q1}}</td>
						<td class="table-qval value">{{teamAvg.q2}}</td>
						<td class="table-qval value">{{teamAvg.q3}}</td>
						<td class="table-qval value">{{teamAvg.q4}}</td>
						<td class="table-qval value">{{teamAvg.q5}}</td>
						<td class="table-qval value">{{teamAvg.q6}}</td>
						<td class="table-qval value">{{teamAvg.q7}}</td>
						<td class="table-qval value">{{teamAvg.q8}}</td>
						<td class="table-qval value">{{teamAvg.ovrAvg}}</td>
					</tr>
					<tr class="row table_row">
						<td class="table-teamname"><b>Class Average</b></td>
						<td class="table-qval value">{{avg[1].$value}}</td>
						<td class="table-qval value">{{avg[2].$value}}</td>
						<td class="table-qval value">{{avg[3].$value}}</td>
						<td class="table-qval value">{{avg[4].$value}}</td>
						<td class="table-qval value">{{avg[5].$value}}</td>
						<td class="table-qval value">{{avg[6].$value}}</td>
						<td class="table-qval value">{{avg[7].$value}}</td>
						<td class="table-qval value">{{avg[8].$value}}</td>
						<td class="table-qval value">{{avg[0].$value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
    	<div class="col-sm-12">
			<h2>Comments</h2>
			<ul>
				<li>
					<h4 class="question-text">Q1: Concise (less than 3 minutes) and informative interactive demo provided that linked value proposition to targeted customer.</h5>
					<ul>
						<li class="comment-text" ng-repeat="cmt in cmts1">{{cmt}}</li>
					</ul>
				</li>
				<li>
					<h4 class="question-text">Q2: Questions answered concisely and accurately and feedback listened to.</h5>
					<ul>
						<li class="comment-text" ng-repeat="cmt in cmts2">{{cmt}}</li>
					</ul>
				</li>
				<li>
					<h4 class="question-text">Q3: Team has Product Market Fit.</h5>
					<ul>
						<li class="comment-text" ng-repeat="cmt in cmts3">{{cmt}}</li>
					</ul>
				</li>
				<li>
					<h4 class="question-text">Q4: The team has a good understanding of their target users and customers who would buy/use their solution.</h5>
					<ul>
						<li class="comment-text" ng-repeat="cmt in cmts4">{{cmt}}</li>
					</ul>
				</li>
				<li>
					<h4 class="question-text">Q5: Solid customer acquisition and market traction results.</h5>
					<ul>
						<li class="comment-text" ng-repeat="cmt in cmts5">{{cmt}}</li>
					</ul>
				</li>
				<li>
					<h4 class="question-text">Q6: Financial model and pricing are viable.</h5>
					<ul>
						<li class="comment-text" ng-repeat="cmt in cmts6">{{cmt}}</li>
					</ul>
				</li>
				<li>
					<h4 class="question-text">Q7: The overall pitch was compelling and left you wanting to learn more.</h5>
					<ul>
						<li class="comment-text" ng-repeat="cmt in cmts7">{{cmt}}</li>
					</ul>
				</li>
				<li>
					<h4 class="question-text">Q8: Words of advice from judges as you move forward.</h5>
					<ul>
						<li class="comment-text" ng-repeat="cmt in cmts8">{{cmt}}</li>
					</ul>
				</li>			
			</ul>    		
		</div>
 	</div>
</div>