<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<form id="addTeamForm">
				Team Name:<br>
		  	<input class="form-control" type="text" ng-model="name"><br>
		  	Product/App<br>
		  	<input class="form-control" type="text" ng-model="product"><br>
		  	Description:<br>
		  	<input class="form-control" type="text" ng-model="desc"><br>
				Team Password:<br>
		  	<input class="form-control" type="text" ng-model="teamPass"><br>
		  	<button class="btn btn-primary btn_addTeam" type="submit" name="button" ng-click="addTeam()">Add Team</button>
			</form>
		</div>
	</div>
</div>
