/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.panel-title {
  font-weight: bold;
}

.radio-inline {
  margin-right: 20px;
}

.input-textarea {
  margin-top: 20px;
}

.btn-submit {
  margin-bottom: 40px;
}

#teams-list {
  margin-bottom: 20px;
}

.dropdown {
  display: inline;
}


.name {
  font-weight: bold;
}
.product {
  text-indent: 10px;
  font-style: italic;
}
.metric {
  /*text-align: center;*/
}
.value {
  /*text-align: center;*/
}
.comment {
  /*text-indent: 10px;*/
}

#addTeamForm {
  width: auto;
  margin:0 auto;
  text-align: center;
}
