/* app css stylesheet */

.metric {
  /*text-align: center;*/
}
.value {
  /*text-align: center;*/
}
.comment {
  /*text-indent: 10px;*/
}

.logo_text {
  width: 80%;
  float: left;
}


.nav{
	background: white;
  margin-top: 10px;
  min-height: 40px;
}



.container{
  background: white;
  width: 100% !important;
  min-height: 100vh;
}

#title_bar{
  background: rgb(103, 58, 183);
}

#title {
  margin-left: 10%;
  font-size: 3rem;
  color: white;
}

#userinfo-ul {
  margin-right: 20px;
  margin-top: 10px;
  float: right;
}

.userli {
  color: white;
  list-style-type: none;
  margin-right: 10px;
  text-align: right;

  font-family: "Helvetica";
  line-height: 26px;
}

.logout {
  font-weight: bold;
  color: white;
}

.role{
  float: right
}

a.logout:hover {
  color: gray;
  text-decoration: none;
}
.session{
  font-size:2rem;
}
.session_icon{
  width: 20px;
}
.user_icon{
  width: 15px;
}
