/* app css stylesheet */

.metric {
  /*text-align: center;*/
}
.value {
  /*text-align: center;*/
}
.comment {
  /*text-indent: 10px;*/
}
html,body{
	background: rgb(103, 58, 183);
}
.nav{
	background: white;
  margin-top: 110px;
  min-height: 40px;
}

.container{
  
/*  padding-left: 110px;
  margin-left: 0;
  margin-right: 0; */
  background: white;
  /*box-shadow: 0 7px 10px 1px rgba(0,0,0,0.14),0 2px 16px 1px rgba(0,0,0,0.12),0 4px 5px -2px rgba(0,0,0,0.2);*/
  width: 100%;
  min-height: 100vh;

}

.form_content{
	background: rgb(245, 238, 247) !important;
	background: white;
	padding-left: 10%;
	padding-right: 10%;
	min-height: 1000px;
}

#title{
	margin-left: 10%;
    font-size: 3rem;
    color: white;
}
#userli{
	float: right;
    margin-right: 5%;
    font-size: 1.7rem;
    color: white;
}