<!DOCTYPE html>
<html lang="en" ng-app="PitchEvaluator" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PitchEvaluator</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="addTeam/addTeam.css">
  <link rel="stylesheet" href="view2/view2.css">
  <link rel="stylesheet" href="view1/view1.css">
  <link rel="stylesheet" href="newSession/newSession.css">
  <link rel="stylesheet" href="login/login.css">
  <link rel="stylesheet" href="judge/judge.css">

</head>
<body ng-controller="indexCtrl">
  <div class="container-fluid">
    <div class="row" id="title_bar">
      <div class="col-sm-6 col-xs-8">
        <a href="/">
          <img ng-hide="onLogin()" class="logo_text" src="login/PitchEvaluator-logo-header.png">
        </a>
      </div>
      <div class="col-sm-6 col-xs-4">
        <ul id="userinfo-ul">
          <li class="userli">{{session}}</li>
          <li class="userli"> {{user}}</li>
          <li class="userli" ng-hide="adminFlag">{{role}}</li>
          <li class="userli" ng-hide="onLogin()" ng-click="logOut()"><a class="logout" href="#">Logout</a></li>
        </ul>
      </div>

    </div>
    <div class="row navi" ng-style="login_background" ng-hide="onLogin()">
     <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1" ng-show="loggedin">
            <ul class="nav nav-tabs">
              <li ng-class="{active: isActive('{{tab.link}}')}" ng-repeat="tab in tabs" tab="tab">
                <a href="#{{tab.link}}">{{tab.label}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row form_content" ng-style="login_background">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="viewcontainer" ng-view></div>
          </div>
        </div>
      </div>
    </div>
    </div>


  </div>

</body>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <!-- <script src="bower_components/angular-aria/angular-aria.js"></script> -->
  <!-- <script src="bower_components/angular-animate/angular-animate.js"></script> -->
  <!-- <script src="bower_components/angular-material/angular-material.js"></script> -->
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="indexCtrl.js"></script>
  <script src="view2/view2.js"></script>
  <script src="judge/judge.js"></script>
  <script src="team/team.js"></script>
  <script src="addTeam/addTeam.js"></script>
  <script src="services/teamService.js"></script>
  <script src="services/userService.js"></script>
  <script src="services/loggedinCheck.js"></script>
  <script src="services/permissions.js"></script>
  <script src="login/login.js"></script>
  <script src="newSession/newSession.js"></script>
</html>
