.container{
	/*margin-top: 10px;*/
	margin-left: 0;
	margin-right: 0;
	background: white;
	/*border: solid grey;
	border-width: 0.5px 0 0.5px 0;*/
	box-shadow: 0 7px 10px 1px rgba(0,0,0,0.14),0 2px 16px 1px rgba(0,0,0,0.12),0 4px 5px -2px rgba(0,0,0,0.2);
	width: 81%;
	min-width: 992px;
	min-height: 1000px;

}
.addTeam{
	padding-left: 8px;
}