<body>
<div class="container" ng-style='view2.css'>
	<div class="row">
		<div class="col-sm-10">
			<h1>Team Data</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-10">
			<table class="table">
				<thead>
					<tr class="row">
						<th class="col-xs-2">Team/Product</th>
						<th class="col-xs-2 metric">Problem/Need</th>
						<th class="col-xs-2 metric">Demo</th>
						<th class="col-xs-2 metric">Cust. Insight</th>
						<th class="col-xs-2 metric">Business</th>
						<th class="col-xs-2 metric">Team Average</th>
					</tr>
				</thead>
				<tbody id="sortable">
					<tr class="row table_row" ng-repeat="team in teamList  | orderBy:'rank'">
						<td class="col-xs-2 name"><a href="" ng-click="saveTeam(team.name)">{{team.name}}</a></td>
						<td class="col-xs-2 value">{{team.q1Val}}</td>
						<td class="col-xs-2 value">{{team.q2Val}}</td>
						<td class="col-xs-2 value">{{team.q3Val}}</td>
						<td class="col-xs-2 value">{{team.q4Val}}</td>
						<td class="col-xs-2 value">{{team.ovrAvg}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<h1>Download Summary Data</h1>

	<a href='#' ng-click='downloadCSV({ filename: "summary-data.csv" })'>Download CSV Summary Data without Comments</a>
	<br>
	<a href="#" ng-click='downloadFullCSV({ filename: "summary-data-with-comments.csv" })'>Download CSV Summary Data with Comments</a>

	<h1>Download an Individual Team's Data</h1>

	<div class="col-sm-10">
		<table>
			<thead>
				<tr class="row">
					<th class="col-xs-6">Team/Product</th>
					<th class="col-xs-6">Download CSV</th>
				</tr>
			</thead>
			<tbody>
				<tr class="row table_row" ng-repeat="team in teamArray">
					<td class="col-xs-6">{{team.name}}</td>
					<td class="col-xs-6"><a href='#' ng-click='downloadTeamCSV({ filename: "team-data.csv", index: $index })'>{{team.name}} CSV</a></td>
				</tr>
			</tbody>
		</table>		
	</div>

</div>
</body>
