.to_review{
	border-bottom: black;
    font-size: 16px;
}

.green {
  	color: rgba(0, 255, 0, 0.8);
}

.red {
	color: rgba(255, 0, 0, 0.8);
}

tr.table_row.dragable{
	cursor: move;
}

.judge-page-h3 {
	color: #337AB7;
}

.judge-page-ul {
	list-style-type: none;
}

#cursor_move{
	width: 15px;
}
.drag_remind{
	padding-top: 20px;
}