.to_review{
	border-bottom: black;
    font-size: 16px;
}

.green {
  	color: rgba(0, 255, 0, 0.8);
}

.red {
	color: rgba(255, 0, 0, 0.8);
}

tr.table_row.dragable{
	cursor: move;
}

.judge-page-h3 {
	color: #337AB7;
}

.judge-page-ul {
	list-style-type: none;
}

#drag-reminder-img {
	float: left;
	width: 2.5%;
	margin-top: 21px;
	margin-right: 10px;
}

#drag-reminder {
	margin-top: 20px;
}

@media screen and (max-width: 960px) {
	#drag-reminder-img {
		display: none;
	}
}