.to_review{
	border-bottom: black;
    font-size: 16px;
}

.green {
  	color: rgba(0, 255, 0, 0.8);
}

.red {
	color: rgba(255, 0, 0, 0.8);
}

.table_row{
	cursor: move;
}

.judge-page-h3 {
	color: #337AB7;
}

.judge-page-ul {
	list-style-type: none;
}