<div class="container-fluid" ng-style='view2.css'>
	<div class="row">
		<div class="col-sm-3">
			<h3 class="judge-page-h3">Reviewed teams</h3>
		</div>
		<div class="col-sm-9">
			<img src="judge/Cursor-Move-512.png" id="drag-reminder-img">
			<h4 id="drag-reminder"><strong>Drag and drop to stack rank the teams!</strong></h4>
			<p>(Unfortunately, this feature is only functional with a mouse at the moment (no touch-screen dragging/dropping).</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<table class="table">
				<thead>
					<tr class="row">
						<td class="table-teamname">Team</td>			
						<td class="table-rank">Rank</td>
						<td class="table-qval">Q1</td>
						<td class="table-qval">Q2</td>
						<td class="table-qval">Q3</td>
						<td class="table-qval">Q4</td>
						<td class="table-qval">Q5</td>
						<td class="table-qval">Q6</td>
						<td class="table-qval">Q7</td>
						<td class="table-continue">Continue?</td>
						<td class="table-ovravg">Avg</td>
					</tr>
				</thead>
				<tbody id="sortable">
					<tr class="row table_row dragable" ng-class="teamClasses[team.rank-1]" ng-repeat="team in reviewedTeams | orderBy:'rank'" >
						<td class="col-xs-2 name">
							<a ng-class="teamClasses[team.rank-1]" href="" ng-click="saveTeam(team.name)">{{team.name}}</a>
						</td>
						<td class="table-rank">{{team.rank}}</td>
						<td class="table-qval">{{team.q1Val}}</td>
						<td class="table-qval">{{team.q2Val}}</td>
						<td class="table-qval">{{team.q3Val}}</td>
						<td class="table-qval">{{team.q4Val}}</td>
						<td class="table-qval">{{team.q5Val}}</td>
						<td class="table-qval">{{team.q6Val}}</td>
						<td class="table-qval">{{team.q7Val}}</td>
						<td class="table-continue">{{team.cont}}</td>	
						<td class="table-ovravg">{{team.ovrAvg}}</td>

				</tbody>
				<tbody>
					<tr class="row table_row dragable">
						<td class="col-xs-2 name">Class Average</td>
						<td class="table-qval">Rank</td>
						<td class="table-qval">{{averagesArray[1].$value}}</td>
						<td class="table-qval">{{averagesArray[2].$value}}</td>
						<td class="table-qval">{{averagesArray[3].$value}}</td>
						<td class="table-qval">{{averagesArray[4].$value}}</td>
						<td class="table-qval">{{averagesArray[5].$value}}</td>
						<td class="table-qval">{{averagesArray[6].$value}}</td>
						<td class="table-qval">{{averagesArray[7].$value}}</td>
						<td class="table-continue">{{averagesArray[8].$value}}</td>
						<td class="table-ovravg">{{averagesArray[0].$value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
  	<div class="row">
		<div class="col-md-6 col-sm-12">
			<h3 class="judge-page-h3">Teams to be reviewed</h3>
		    <ul class="judge-page-ul list-group">
		        <li ng-repeat="team in notReviewedTeams" class="to_review list-group-item">
		          	<a href="" ng-click="saveTeam(team.name)">{{team.name}}</a>
		        </li>
		        <li ng-hide="notReviewedTeams.length">
		        	<h4>All teams have been reviewed!</h4>
		        </li>
		    </ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h3 class="judge-page-h3">Question Legend</h3>
			<ul>Q1: Concise (less than 3 minutes) and informative interactive demo provided that linked value proposition to targeted customer.</ul>
			<ul>Q2: Questions answered concisely and accurately and feedback listened to.</ul>
			<ul>Q3: Team has Product Market Fit.</ul>
			<ul>Q4: The team has a good understanding of their target users and customers who would buy/use their solution.</ul>
			<ul>Q5: Solid customer acquisition and market traction results.</ul>
			<ul>Q6: Financial model and pricing are viable.</ul>
			<ul>Q7: The overall pitch was compelling and left you wanting to learn more.</ul>
		</div>
	</div>

</div>